html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --sidebar-width: 300px;
}

@media (min-width: 1024px) {
  :root { --sidebar-width: 320px; }
}

/* push container */
.app-container {
  display: flex;
  transition: transform 0.3s ease;
}
body.menu-open .app-container {
  transform: translateX(var(--sidebar-width));
}
